.author {

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90vw;
        height: 95%;
        background: url("/images/pattern-bg.svg")no-repeat;
        background-size: contain;
        background-position: center;
        @include breakpoint-large {
            width: 100%;
        }        
        
        &__container {
            width: 80%;
            height: 83%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @include breakpoint-large {
                width: 60%;
                height: 60%;
            }   
            
        }

        & img {
            width: auto;
            height: 100%;
            border-radius: 5px;
            display: block;
        }
    }

    &__testimonial {
        font-size: $font-size-mobile;
        font-weight: $font-weight-light;
        color: $color-text-primary;
        padding: 0 2rem;
        text-align: center;
        line-height: 1.2;
        
        @include breakpoint-large {
            font-size: $font-size;
            text-align: left;
            width: 110%;
            margin-left: 10vw;
            padding-top: 10vh;
            background: 
            url("/images/pattern-quotes.svg") top left 15vh / 20% no-repeat;
        }
    }

    &__name {
        text-align: center;
        font-weight: $font-weight-bold;
        padding-bottom: .5rem;
        padding-top: 2rem;
        @include breakpoint-large {
            padding: 0;
        }
    }

    &__job {
        text-align: center;
        font-weight: $font-weight;
        color: $color-text-secondary;
        @include breakpoint-large {
            margin-left: 1rem;
        }
    }

    &__information {
        @include breakpoint-large {
            display: flex;
            padding: 2rem;
            align-self: flex-start;
            margin-left: .5rem;
        }
    }
}