.body {
    background: url("/images/pattern-curve.svg") bottom left / 90% no-repeat;
    height: 100vh;
    width: 100vw;
    @include breakpoint-large {
        background-size: 40%;
    }
}

.content {
    position: fixed;
    margin: auto;
    padding-top: 1rem;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint-large {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
}