// Colors
$color-text-primary: hsl(240, 38%, 20%);
$color-text-secondary: hsl(240, 18%, 77%);

// Font size
$font-size: 32px;

// Font weight
$font-weight: 500;
$font-weight-bold: 700;
$font-weight-light: 300;

// Width
$width-mobile: 375px;
$width-desktop: 1440px;

// Breakpoint
$breakpoint-large-min-width: 800px;